* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.parrent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid grey;
    padding: 30px;
    

}

.oneslid {
    width: 70%;
    height: 300px;
    background-color: #9D907EFF;
    color: aliceblue;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.oneslid>h1 {
    padding: 30px;
}

.twoslid {
    width: 70%;
    height: 300px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.one {
    width: 50%;
    height: 100%;
}

.one>img {
    width: 100%;
}

.one>p {
    margin-top: 30px;
}

.treeslid {
    width: 70%;
    height: 400px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.text {
    color: grey;
}

.cont {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contik {
    width: 200px;
    height: 70%;
    background-color: rgb(221, 221, 220);
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


}

.parr {
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.forchlid {
    width: 70%;
    height: 400px;
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 14px;
}

.forchlid1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;


}

.fore {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.icon {
    font-size: 30px;
    margin-bottom: 10px;
    color: #937B59FF;
}

.ad {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p {
    padding: 20px;
}

.spn1 {
    color: rgb(39, 39, 39);
    font-size: 20px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.conter {
    width: 80%;
    height: 400px;
    margin-top: 160px;
    text-align: center;
   


}
.low{
    width: 100%;
    height: 1px;
    color:grey
}

.conter1 {
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.childer{
    width: 500px;
    height: 80%;
    margin-left: 30px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 20px;


}
.ddd{
    font-size: 25px;
    color: rgb(51, 51, 51);
}
.childer>img{
 width: 100%;
 height: 50%;
 border-radius: 20px 20px 0px 0px;
}

.div>p{
    font-size: 12px;
    color: rgb(72, 72, 72);
    margin-top: 10px;

}
/* ամբողջ էջը պահում ենք կենտրոնում */
html, body {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* սա է կոնտեյները, որը փոքրանալու է */
.child {
    transform-origin: top center;
}

/* ------------ TVs / Large Screens ------------ */
@media (max-width: 1600px) {
    .child {
        transform: scale(0.95);
    }
}

/* ------------ Desktops / Laptops ------------ */
@media (max-width: 1200px) {
    .child {
        transform: scale(0.90);
    }
}

/* ------------ Normal Laptops ------------ */
@media (max-width: 992px) {
    .child {
        transform: scale(0.80);
    }
}

/* ------------ Tablets ------------ */
@media (max-width: 768px) {
    .child {
        transform: scale(0.70);
    }
}

/* ------------ Large Phones ------------ */
@media (max-width: 576px) {
    .child {
        transform: scale(0.60);
    }
}


/* ------------ Normal Phones ------------ */
@media (max-width: 480px) {
    .child {
        transform: scale(0.50);
    }
}

/* ------------ Small Phones ------------ */
@media (max-width: 360px) {
    .child {
        transform: scale(0.50);
    }
}